:root {
  --border-color: #aaa;
}

.app {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  width: 35em;
  background-color: #ddd;
  border-radius: 4px;
}

.buttons {
  border: 2px solid #ddd;
  padding: 1em 0 1em 0;
  text-align: center;
}

.grid {
  width: 100%;
}

.row {
  height: 2em;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
}

.col {
  height: 100%;
  flex: 1;
  border: 1px solid var(--border-color);
}

p {
  font-size: 0.8em;
  line-height: 0.8em;
  text-align: center;
  vertical-align: middle;
}

.active {
  background-color: red;
}

.selected {
  background-color: green;
}